button {
  background-color: lightgreen;
}
.font {
  text-align: center;
}
<body {
  background-color: grey;
  font-family: sans-serif;
}
.edit {
  display: none;
  background-color: orange;
}
nav{
  padding: 20px;
  background-color: orange;
  text-align: right;
}
nav a{
  text-decoration: none;
  padding: inherit;
  font-family: sans-serif;;
}
nav a:hover{
  text-decoration: none;
  color: black;

}
h1 {
  text-align: center;
  text-decoration: underline;
}

.size {
  float: right;
  width: 40%;
}

.paragraph {
  border-radius: 10px;
  font-style: italic;
  font-weight: bold;
  background-color: orange;
  font-size: 20px;
  float: left;
  width: 50%
}
